<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app_to_do_list">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:label="app_to_do_list"
        android:icon="@mipmap/ic_launcher">

        <!-- Meta-data para Android 13 (API 33+) -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="high_importance_channel"/>

        <!-- Receptores necessários para notificações locais -->
        <receiver 
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver" 
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver 
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" 
            android:exported="true"/>
    </application>
</manifest>
